@import '@master/normal.css';

@font-face {
  font-family: 'Mobo';
  src: url('/font/MOBO-Regular.woff2') format('woff2'),
       url('/font/MOBO-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mobo';
  src: url('/font/MOBO-SemiBold.woff2') format('woff2'),
       url('/font/MOBO-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Mobo';
  src: url('/font/MOBO-Bold.woff2') format('woff2'),
       url('/font/MOBO-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Mobo';
  src: url('/font/MOBO-ExtraLight.woff2') format('woff2'),
       url('/font/MOBO-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

html {
    font-family: 'Mobo';
}